
# Paquetes #
*.bat

# Archivos de Gradle
/gradle/
build.gradle
gradlew
settings.gradle

# carpeta idea
/.idea/

# carpeta out
/out/

!/gradle/wrapper/gradle-wrapper.properties
/lib/
/src/java/fbtw/app/Tipo.java
/src/cementerio
/src/CementerioTest.java
